@use "../../../styles/main.scss" as *;

.home_payment_section {
  margin: rem(180) 0;

  &__container {
    @include container();
  }

  &__options {
    margin-top: rem(100);
    @include flex-column();
    justify-content: center;
    align-items: center;
    gap: rem(60);
    @include breakpoint(medium) {
      @include flex-row();
    }
  }
}
