@use "../../../styles/main.scss" as *;

.experience_rating_list {
  justify-content: center;
  flex-wrap: wrap;
  gap: rem(42);
  @include flex-row();
  margin-bottom: rem(112);

  @include breakpoint(large) {
    column-gap: rem(211);
    margin-bottom: rem(224.5);
  }
}
