@use "../../styles/main.scss" as *;

.button {
  @include flex-row();
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--poppins);
  border-radius: rem(50);
  align-items: center;
  justify-content: center;

  font-size: rem(16);
  font-style: normal;
  font-weight: 500;
  line-height: rem(24);
}

.button_primary {
  text-align: center;
  padding: rem(10);
  min-width: rem(147);
  gap: rem(10);
  letter-spacing: 1.22px;
  text-transform: uppercase;
}

.button_secondary {
  background-color: $base-white;
  color: $base-black;
  min-width: rem(150);
  padding: rem(8) rem(12) rem(8) rem(18);

  &__arrow {
    @include flex-column();
    align-items: center;
    justify-content: center;
    width: rem(28);
    height: rem(28);
    border-radius: 100%;
    background-color: rgba($azure, 0.08);
    color: #000;
  }
}
