@use "../../../styles/main.scss" as *;

.pay_and_sail_section {
  @include container();
}

.pay_and_sail_list {
  margin: rem(115) 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(64);
  @include flex-row();
}
