@use "../../styles/main.scss" as *;

.menu {
  position: fixed;
  z-index: 98;
  left: 0;
  top: -100dvh;
  right: 0;
  height: 100dvh;
  width: 100%;
  background: rgba($base-black, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: top 0.5s ease-in-out;

  @include breakpoint(large) {
    display: none;
  }

  align-items: center;
  justify-content: center;
  @include flex-column();

  ul {
    margin-top: auto;
  }

  padding: rem(32) 0;
}

.menu_open {
  top: 0;
}
