@use "../../styles/main.scss" as *;

.range {
  width: 100%;
  @include breakpoint(medium) {
    min-width: rem(180);
  }
  height: rem(8);
  border-radius: rem(10);
  position: relative;
  overflow: hidden;
  @include flex-row();

  span {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: rem(8);
    border-top-right-radius: rem(6);
    border-bottom-right-radius: rem(6);
  }
}
