@use "../../styles/main.scss" as *;

.payment_method_card {
  width: 100%;
  max-width: rem(272);
  height: rem(220);
  padding: rem(32);
  border-radius: rem(6);
  box-shadow: 2px 2px 6px 0px rgba(72, 75, 87, 0.06),
    16px 16px 32px 0px rgba(92, 108, 123, 0.1);

  @include flex-column();

  &__dollar {
    width: rem(56);
    height: rem(56);
    @include flex-column();
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: $mint-green;
  }

  h3 {
    margin: rem(16) 0 rem(4);
    font-size: rem(24);

    font-weight: 600;
    line-height: rem(32);
  }

  p {
    font-size: rem(15);

    font-weight: 400;
    line-height: rem(24);
    margin-bottom: rem(16);
  }
}

.primary {
  background-color: $base-white;
  color: $light-black;
}

.secondary {
  background-color: $soft-aqua;
  color: $navy-blue;
}
