@use "../../../styles/main.scss" as *;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: relative !important;
  margin-top: rem(33);
}

.swiper-pagination-bullet {
  width: rem(22) !important;
  height: rem(9) !important;
  border-radius: rem(10) !important;
  background-color: rgba($base-white, 0.65) !important;
}

.swiper-pagination-bullet-active {
  background-color: $base-white !important;
}
