@use "../../styles/main.scss" as *;

.footer_links {
  gap: rem(20);
  align-items: flex-start;
  @include flex-column();

  p {
    font-size: rem(14);
    font-weight: 500;
    line-height: 140%;
    color: $base-white;
  }

  ul {
    gap: rem(6);
    @include flex-column();

    li a {
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(28);
      color: rgba($base-white, 0.6);
    }
  }
}
