@use "../../styles/main.scss" as *;

.testimonial {
  margin-top: rem(215);
  position: relative;
  width: 100%;
  height: rem(560);
  @include breakpoint(medium) {
    height: rem(796);
  }
  overflow: hidden;

  &__header {
    position: absolute;
    height: rem(50);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 9.04%,
      #ecfbff 50%
    );
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__children {
    width: 100%;
    @include container();
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint(large) {
      width: fit-content;
      top: 30%;
      left: 65%;
      transform: translate(-20%, -65%);
    }
  }
}
